@{
    ViewData["Title"] = "Carts Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Store Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6qXaFtg8V5ndbcgy5lFfkkSStJI2utYO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css"/>
</head>
<body>

    <div class="container">
        <h2 class="heading-main">Your Cart</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Artist</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://placekitten.com/50/50" alt="Album 1" class="product-image">
                            <span>Album 1</span>
                        </div>
                    </td>
                    <td>Arijit Singh</td>
                    <td>₹99.99</td>
                    <td>
                        <button class="btn btn-danger">Remove</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://placekitten.com/50/45" alt="Album 1" class="product-image">
                            <span>Album 2</span>
                        </div>
                    </td>
                    <td>Arijit Singh</td>
                    <td>₹89.99</td>
                    <td>
                        <button class="btn btn-danger">Remove</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://placekitten.com/50/51" alt="Album 2" class="product-image">
                            <span>Album 3</span>
                        </div>
                    </td>
                    <td>Arijit Singh</td>
                    <td>₹49.99</td>
                    <td>
                        <button class="btn btn-danger">Remove</button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://placekitten.com/50/58" alt="Album 2" class="product-image">
                            <span>Single - 1</span>
                        </div>
                    </td>
                    <td>Arijit Singh</td>
                    <td>₹19.99</td>
                    <td>
                        <button class="btn btn-danger">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right">
            <button class="btn btn-secondary"><a class="nav-link text-light" asp-area="" asp-controller="Product" asp-action="ProductCatalogue">Continue Shopping</a></button>
            <button class="btn btn-primary"><a class="nav-link text-light" asp-area="" asp-controller="Orders" asp-action="Payments">Proceed To Payment</a></button>
        </div>

    </div>

</body>
</html>
