body {
    font-family: monospace;
}

.container {
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
}

h2 {
    color: #007bff;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

    .table th,
    .table td {
        padding: 1rem;
        vertical-align: middle;
        border-top: 1px solid #dee2e6;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    .table tbody + tbody {
        border-top: 2px solid #dee2e6;
    }

.btn {
    color: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.btn-primary {
    color: white;
    background-color: #007bff;
    border-color: #007bff;
    width: 13rem;
}

.btn-secondary{
    width: 13em;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.text-right {
    text-align: right;
}

.mt-5 {
    margin-top: 3rem;
}

.product-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 4px;
    margin-right: 10px;
}




/* .quantity-container {
            display: flex;
            align-items: center;
        } */


